.w3-top {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.w3-ul.w3-border.w3-white.w3-text-grey li {
    color: #e81c1c; 
    background-color: #145ad3;
    border: 1px solid #110234;
}

.w3-hover-opacity:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border: 20px solid #009688;
}
.w3-dropdown-content.w3-bar-block.w3-card-4 {
    background-color: #5622e4; 
    color: #f40b0b;
    font-family: 'Courier New', Courier, monospace;
  
}